@{
    Layout="_randomlayout";
}
@model Word
	<div class="position-fixed bg-warning bottom-0 end-0 p-3" style="z-index: 1">
        <div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-body text-center"></div>
        </div>
    </div>
		<div class="card">
			<div class="container">
				<div class="alert alert-dark text-center">
					<div class="row justify-content-between">
						<div class="col-3">
							<a asp-controller="book" asp-action="word" id="next">
								<i class="fas fa-random"></i>
							</a>
						</div>
						<div class="col-3">
							<a asp-controller="home" asp-action="index">
								<i class="fas fa-home"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="container text-center">
				<div class="card-header bg-light">
					<p id="text" class="my-5">
							<span class="display-3">@Model.text</span>
					</p>
				</div>
			</div>
		</div>
	<script>
        	//translate
    $("p").delegate("span", "click", function(event){
        $.ajax('https://tureng.com/tr/turkce-ingilizce/'+event.target.innerText,{            
        success: function (data) {    // success callback function
            $(".toast-body").html($(data).find('#englishResultsTable > tbody > tr:nth-child(4) > td.tr.ts > a')[0].innerText)}});
        $("#liveToast").toast("show");
    });
	</script>