 <section class="features">
            <div class="container">
                <ul>
                    <li class="bg-yellow">
                        <div class="feature-box">
                            <i class="yellow"></i>
                            <h3>Öğren</h3>
                            <p>..........</p>
                            @* <a class="yellow" href="#">
                                View Selection <i class="fas fa-arrow-right"></i>
                            </a> *@
                        </div>
                    </li>
                    <li class="bg-light-green">
                        <div class="feature-box">
                            <i class="light-green"></i>
                            <h3>Çalış</h3>
                            <p>..........</p>
                            @* <a class="light-green" href="#">
                                View Selection <i class="fas fa-arrow-right"></i>
                            </a> *@
                        </div>
                    </li>
                    <li class="bg-blue">
                        <div class="feature-box">
                            <i class="blue"></i>
                            <h3>Destek</h3>
                            <p>...........</p>
                            @* <a class="blue" href="#">
                                View Selection <i class="fas fa-arrow-right"></i>
                            </a> *@
                        </div>
                    </li>
                    <li class="bg-red">
                        <div class="feature-box">
                            <i class="red"></i>
                            <h3>İzle</h3>
                            <p>L.......</p>
                            @* <a class="red" href="#">
                                View Selection <i class="fas fa-arrow-right"></i>
                            </a> *@
                        </div>
                    </li>
                    <li class="bg-violet">
                        <div class="feature-box">
                            <i class="violet"></i>
                            <h3>Sabret</h3>
                            <p>.........</p>
                            @* <a class="violet" href="#">
                                View Selection <i class="fas fa-arrow-right"></i>
                            </a> *@
                        </div>
                    </li>
                    <li class="bg-green">
                        <div class="feature-box">
                            <i class="green"></i>
                            <h3>Planla</h3>
                            <p>..........</p>
                            @* <a class="green" href="#">
                                View Selection <i class="fas fa-arrow-right"></i>
                            </a> *@
                        </div>
                    </li>
                </ul>
            </div>
        </section>