  <footer id="contact" class="site-footer">
            <div class="sub-footer">
                <div class="container">
                    <div class="row">
                        <div class="footer-text col-md-3">
                            <p>Design by <a target="_blank" href="http://umitkoc.com">Umit KOC</a></p>
                        </div>
                        <div class="col-md-9 pull-right">
                            <ul>
                                <li><a asp-controller="home" asp-action="index">Anasayfa</a></li>
                                <li class="disabled"><a href="blog.html">Blog</a></li>
                                <li class="disabled"><a href="blog.html">Kitaplar</a></li>
                                <li class="disabled"><a href="services.html">Hizmetlerimiz</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>