 <div data-ride="carousel" class="carousel slide" id="home-v1-header-carousel">
            
            <!-- Carousel slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <figure>
                        <img alt="Home Slide" src="~/images/header-slider/home-v1/header-slide.jpg" />
                    </figure>
                    <div class="container">
                        <div class="carousel-caption">
                            <h3>Her Zaman, Her Yerde Çevrimiçi Öğrenme!</h3>
                            <h2>KÖKLERİNİZİ KEŞFEDİN</h2>
                            <p>Temel İngilizce Kursu; bu dili hiç bilmeyenlere veya başlangıç seviyesinde olanlara yöneliktir. Kurs bitiminde İngilizceyi günlük yaşamda düzgün ve anlaşılır şekilde kullanma yeteneği kazanır, temel kurallarını öğrenirsiniz.</p>
                        </div>
                    </div>
                </div>
                 <div class="item">
                    <figure>
                        <img alt="Home Slide" src="~/images/header-slider/home-v1/header-slide.jpg" />
                    </figure>
                    <div class="container">
                        <div class="carousel-caption">
                            <h3>Her Zaman, Her Yerde Çevrimiçi Öğrenme!</h3>
                            <h2>KÖKLERİNİZİ KEŞFEDİN</h2>
                            <p>Kurslarımız en uygun koşullarla yaşam boyu öğrenim olanağı sağlayan yöntemlerle verilmektedir.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Controls -->
            <a class="left carousel-control" href="#home-v1-header-carousel" data-slide="prev"></a>
            <a class="right carousel-control" href="#home-v1-header-carousel" data-slide="next"></a>
        </div>